<h2>Stroop Task</h2>

<p>
    On each trial you will see a colour word (for example, the word
    <i>RED</i>) shown in coloured letters. Your job is to identify
    <b>the colour of the letters</b>, ignoring the word itself.
</p>

<p>Use the arrow keys to respond:</p>
<ul>
    <li><b>&larr; Left arrow</b> &mdash; <span style="color: red;">red letters</span></li>
    <li><b>&darr; Down arrow</b> &mdash; <span style="color: green;">green letters</span></li>
    <li><b>&rarr; Right arrow</b> &mdash; <span style="color: blue;">blue letters</span></li>
</ul>

<p>
    Respond as quickly and accurately as you can. There are 45 trials and the
    task takes about three minutes. The task page will load with a black
    background; the experiment begins automatically. Press <i>Esc</i> at any
    time to abort. Click <i>next</i> below when you are ready to begin.
</p>
