<h2>Stroop Task</h2>

<p>
    On each trial you will see a colour word (for example, the word
    <i>RED</i>) shown in coloured ink. Your job is to identify
    <b>the colour of the ink</b>, ignoring the word itself.
</p>

<p>Press the key that matches the ink colour:</p>
<ul>
    <li><b>R</b> &mdash; <span style="color: red;">red</span></li>
    <li><b>G</b> &mdash; <span style="color: green;">green</span></li>
    <li><b>B</b> &mdash; <span style="color: blue;">blue</span></li>
    <li><b>Y</b> &mdash; <span style="color: goldenrod;">yellow</span></li>
</ul>

<p>
    Respond as quickly and accurately as you can. There are 24 trials and the
    task takes about two minutes. Click <i>next</i> below when you are ready to
    begin.
</p>
